:root {
    --pink: #FDA3C4;
    --red: #F40000;
    --black: #1F1F1F;
    --light-pink: #FFE6EF;
    --white: #FFFFFF;
    --silver: #909090;
    --laptop: 1000px;
    --tablet: 768px;
    --mobile: 480px;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    background-color: var(--white);
    color: var(--black);
    width: 100%;
} 

button, select, input, textarea {
    font: inherit;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
}

img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

ul, li {
    list-style: none;
}

h1, h2, h3, h4, h5, h6,
ul, li, p, img, a,
button, select, input, textarea,
body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    padding: 0 15px;
    margin: 0 auto;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.input {
    padding: 10px 20px;
    border: 2px solid var(--black);
    border-radius: 4px;
}


/* header start */
.header {
    width: 100%;
    border-bottom: 1px solid var(--pink);
}

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 25px;
    position: relative;
}

.contacts-header {
    display: flex;
    align-content: center;
    gap: 0 15px;
}

.contacts-header--mobile {
    display: none;
}

.contacts-header__block {
    display: flex;
    align-items: center;
    gap: 0 10px;
}

.contacts-header__place {
    width: 18px;
    height: 21px;
}

.contacts-header__phone {
    width: 15px;
    height: 22px;
}

.contacts-header__text {
    font-style: italic;
    font-weight: 700;
    font-size: 12px;
    color: var(--pink);
}

.header__logo {
    flex: 0 0 160px;
    height: 40px;
}

.action {
    display: flex;
    align-items: center;
}

.header__search {
    margin-right: 116px;
}

.header__search.search-open .action-form {
    bottom: -35px;
    pointer-events: unset;
    opacity: 1;
}

.header__search.search-open .action-search {
    background-color: var(--light-pink);
}

.action-search {
    display: flex;
    align-items: center;
    gap: 0 20px;
    cursor: pointer;
    padding: 5px;
    border-radius: 8px;
    transition: 0.3s;
}

.action-search:hover {
    background-color: var(--light-pink);
}

.action-search__text {
    font-weight: 700;
    font-size: 12px;
}

.action-search__img {
    width: 18px;
    height: 18px;
}

.action-form {
    position: absolute;
    bottom: 100px;
    left: 0;
    width: 100%;
    background-color: var(--white);
    padding: 10px;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.action-form__search {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding: 6px 10px;
    width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-form__close {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 11px;
    padding: 5px 10px;
    width: auto;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.icon-search {
    width: 18px;
    height: 18px;
}

.icon-close {
    width: 20px;
    height: 20px;
}

.action-form__input {
    padding: 5px 10px 5px 40px;
    border: 2px solid var(--black);
    width: 100%;
    border-radius: 4px;
    color: var(--black);
}

.action-form__input::placeholder{
    color: var(--pink);
}

.action-favorite {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.4s;
}

.action-favorite:hover {
    background-color: var(--light-pink);
}

.action-cart {
    margin-left: 30px;
    padding: 3px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    transition: 0.4s;
}

.action-cart:hover {
    background-color: var(--light-pink);
}

.action-cart__img {
    width: 18px;
    height: 20px;
}

.header__nav {
    width: 100%;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.header-nav__item {
    padding-bottom: 15px;
}

.header-nav__link {
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.3s;
}

.header-nav__item:hover .header-nav__link {
    color: var(--pink);
    font-style: italic;
}

.header-nav__item:hover .header-catalog {
    opacity: 1;
    pointer-events: unset;
    bottom: -48px;
}

.header-catalog {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    border-bottom: 1px solid var(--silver);
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -55px;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
}

.header-catalog__item {
    padding: 14px 36px 12px;
}

.header-catalog__item:first-child {
    padding-left: 0;
}

.header-catalog__item:last-child {
    padding-right: 0;
}

.header-catalog__item:hover {
    color: var(--pink);
    font-style: italic;
    font-weight: 500;
}
/* header end */

/* footer start */
.footer {
    width: 100%;
    background-color: var(--pink);
    padding: 60px 0;
}

.footer__logo {
    width: 96px;
    height: 24px;
    display: flex;
}

.footer__container {
    display: flex;
    justify-content: space-between;
}

.footer-about {
    display: flex;
    gap: 0 30px;
}

.footer-about__img {
    width: 51px;
    height: 51px;
    display: flex;
}

.footer-about__block {
    max-width: 155px;
    width: 100%;
}

.footer-about__text {
    color: var(--white);
    font-size: 12px;
    line-height: 125%;
}

.footer-about__send {
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
    line-height: 135%;
    text-decoration-line: underline;
    text-underline-offset: 3px;
    color: var(--red);
    display: flex;
    font-family: 'Lobster', cursive;
}

.footer-nav__title {
    font-weight: 500;
    font-size: 22px;
    line-height: 120%;
    color: var(--red);
    font-family: 'Lobster', cursive;
}

.footer-nav__list {
    margin-top: 14px;
}

.footer-nav__item {
    margin-top: 10px;
    color: var(--white);
}

.footer-nav__item:first-child {
    margin-top: 0;
}

.footer-nav__link:hover {
    color: var(--white);
    text-decoration-line: underline;
    text-underline-offset: 2px;
}

.footer-social {
    margin-top: 20px;
    display: flex;
    align-items: center;
    gap: 0 16px;
}

.footer-social--mobile {
    display: none;
}

.footer-social__item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-social__img {
    width: 20px;
    height: 20px;
    display: flex;
}
/* footer end */

/* @media screen and (max-width: 1000px) {
    .header__top {
        padding: 10px 0 25px;
    }

    .contacts-header {
        flex-direction: column;
        gap: 5px 0;
    }

    .contacts-header__place {
        width: 15px;
        height: 17px;
    }

    .contacts-header__phone {
        width: 12px;
        height: 18px;
    }

    .contacts-header__text,
    .action-search__text {
        font-size: 11px;
        line-height: 120%;
    }

    .header__logo {
        flex: 0 0 113px;
        height: 28px;
    }

    .header__search {
        margin-right: 40px;
    }

    .action-search {
        gap: 0 10px;
    }

    .action-favorite {
        padding: 4px 5px;
    }

    .action-favorite__img {
        width: 16px;
        height: 15px;
    }

    .action-cart {
        margin-left: 50px;
    }

    .action-cart__img {
        width: 14px;
        height: 16px;
    }
}

@media screen and (max-width: 1000px) {

    .header__top {
        padding-top: 5px;
    }

    .header__search {
        margin-right: 30px;
    }

    .action-cart {
        margin-left: 33px;
    }

    .header-nav__link {
        font-size: 14px;
    }
} */

@media screen and (min-width: 320px) {

    .header__top {
        padding: 10px 0 8px;
    }

    .header__logo {
        flex: 0 0 69px;
        height: 17px;
    }
    .header__nav {
        display: none;
    }

    .contacts-header--desktop {
        display: none;
    }

    .contacts-header--mobile {
        display: flex;
        align-items: center;
        gap: 0 5px;
    }

    .contacts-header__phone {
        width: 6px;
        height: 9px;
    }

    .contacts-header__text {
        font-size: 8px;
        line-height: 120%;
    }

    .header__search {
        margin-right: 0;
    }

    .action-search {
        padding: 0;
    }

    .action-search:hover {
        background-color: transparent;
    }

    .action-search__img {
        width: 13px;
        height: 13px;
    }

    .action-search__text,
    .action-favorite,
    .action-cart {
        display: none;
    }

    .footer {
        padding: 40px 0 42px;
    }

    .footer__container {
        display: flex;
        flex-direction: column;
        gap: 25px 0;
    }

    .footer__wrapper {
        display: flex;
        justify-content: space-between;
    }

    .footer__logo {
        display: none;
    }

    .footer-nav--social {
        display: none;
    }

    .footer-nav__title {
        font-size: 18px;
    }

    .footer-nav__item {
        line-height: 12px;
        font-size: 10px;
        line-height: 12px;
    }

    .footer-about {
        gap: 0 20px;
    }

    .footer-about__img {
        width: 58px;
        height: 58px;
    }

    .footer-about__block {
        max-width: 100%;
    }

    .footer-about__send {
        margin-top: 15px;
        font-size: 18px;
    }

    .footer-about__text {
        font-size: 10px;
        line-height: 12px;
    }

    .footer-social__img {
        width: 12px;
        height: 12px;
    }


    .footer-social {
        margin-top: 10px;
    }

    .footer-social--mobile {
        display: flex;
    }
}